#canvas {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

body {
    background-color: #D1A9BF;
}

#start {
    display: none;
    border: 1px red solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#game-over {
    display: none;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
