#canvas {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

body {
    background-color: #3e3e3e;
}

#start {
    /* display: none; */
    /* border: 1px black solid; */
    /* border: 1px 1px 0 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#game-over {
    /* display: none; */
    /* border: 1px 1px 1px 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hidden {
    display: none;
}
