#canvas {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

body {
    background-color: #3e3e3e;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hidden {
    display: none;
}

.start-btn {
    background: #ffc124;
}

.start-btn:hover {
    background: #dda415;
}

.over-btn {
    background: #f3acab;
}
.over-btn:hover {
    background: #bb807f;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    padding: 10px;
    transform: translate(-50%, -140%);
    font-size: 35px;
    font-family: "IBM Plex Mono";
    border-radius: 20px;
    box-shadow: 6px 9px 3px -3px rgb(45, 44, 44);
}

